
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#zapdos {
  position: absolute;
  left: 0;
  top: 0;
}

body {
  font-size: 2rem;
  font-family: Helvetica;
  background-image: url('./public/img/pk_bg.png');
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  margin-left: 10px;
 -webkit-box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.42); 
box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.42);
  padding: 10px;
  color: #fff;
}